// ==================================
// mixins
// ==================================

@mixin txt-ctr {
  text-align: center;
}

@mixin full-wth {
  width: 100%;
}


// ==================================
// variables
// ==================================

// 768px and wider
$med : 768px;

// 1024px and wider
$big : 1024px;


/* ====== basics ====== */
* {
  box-sizing: border-box;
}

/* full width responsive images */
img {
  @include full-wth;
}

/* fix for products with less than a full line of text. Without this they display too small. */
.product {
  @include full-wth;
}

/* ====== bit of styling ====== */

h1 {
  @include txt-ctr;
}

.card {
  @include txt-ctr;
  padding: 1rem;

}

.btn {
  text-decoration: none;
  display: inline-block;
  max-width: 200px;
  border: 3px solid black;
  @include txt-ctr;
  padding: 5px;


}


/* ====== flexing etc ====== */

.row {
  display: flex;

  /* columns on mobile */
  flex-direction: column;

  @media (min-width:$med) {

    /* rows on tablet and desktop */
    flex-direction: row;

    /* wrap extra cards to new row */
    flex-wrap: wrap;
  }
}

.card {
  display: flex;

  /* layout contents top to bottom */
  flex-direction: column;

  /* put all extra space in the middle - align first child to start (top) and last child to end (bottom) */
  justify-content: space-between;

  align-items: center;

  // 1 per row at sml width.
  @include full-wth;

  // 2 per row at med width.
  @media (min-width:$med) {
        width: 50%;
    }

  // 4 per row at big width.
  @media (min-width:$big) {
        width: 25%;
    }

}
